.piechart{
    height: 360px;
    position: relative;
  }
  
  .piechartbackground{
    position: absolute;
    width: 360px;
    height: 360x;
    border-radius: 100%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  } 
  
  .pie {
    transition: all 1s;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    clip: rect(0px, 75px, 150px, 0px);
  }
  
  .hold {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  #topleft .pie {
    background-color: yellow;
    transform:rotate(90deg);
  }
  #topright {
    transform: rotate(270deg);
  }
  
  #topright .pie {
    background-color:red;
    transform: rotate(90deg);
  }
  
  #bottomleft {
    transform: rotate(90deg);
  }
  
  #bottomleft .pie {
    background-color:green;
    transform: rotate(90deg);
  }
  
  #bottomright {
    transform: rotate(90deg);
  }
  
  #bottomright .pie {
    background-color:blue;
    transform: rotate(90deg);
  }
 