<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Note</title>
    <div th:replace=" fragments/headTag.html"></div>
</head>
<body>
<br><br><br><br><br><br>
<div class="container">
    <div class="jumbotron col-md-8 col-md-offset-2" style="opacity: 0.8; background-color: dimgrey">
        <form th:action="@{/notes}" th:object="${note}" method="post" autocomplete="on">
            <input type="hidden" name="_method" value="PUT" />
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
                <textarea rows="1" th:field="*{title}" placeholder="What's the title?" class="form-control"></textarea>
                <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="validation-message" style="color: darkred"></label>
            </div>
            <br>
            <div class="form-group">
                <textarea rows="5" th:field="*{message}" placeholder="What do you want to remember?" class="form-control"></textarea>
                <label th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="validation-message" style="color: darkred"></label>
            </div>
            <div class="form-group">
                <button class="btn btn-md btn-success btn-block" name="Submit" value="Submit" type="Submit">Save it! <i class="far fa-save" style="margin-left: 10px"></i></button>
            </div>
        </form>
    </div>
</div>
</body>
</html>