<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Log in</title>
    <div th:replace="fragments/javascript.html"></div>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/navbar"></div>
    <h2 style="font-style: italic; font-family: 'Comic Sans MS'">Welcome!</h2>
    <form th:action="@{/login}" method="post" style="opacity: 0.8"><br/>
        <input type="text" id="username" name="username" th:placeholder="Username" class="form-control"/> <br/>
        <input type="password" th:placeholder="Password" id="password" name="password" class="form-control"/> <br/>
        <div align="center" th:if="${param.error}">
            <h4 style="color: red">Login unsuccessful.</h4>
        </div>
        <button class="btn btn-md btn-success btn-block" name="Submit" value="Login" type="Submit">Log in</button>
        <br/>
        <p style="text-align: right">New Account ?</p>
    </form>
    <form th:action="@{/signup}" method="get">
        <button class="btn btn-sm btn-info btn pull-right " name="Submit" value="Signup" type="Submit">Sign Up</button>
    </form>
</div>
</body>
</html>